<!DOCTYPE HTML>
<html lang="en">
<head>
    <title>RickRollHerCoaster</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css"
          integrity="sha256-9mbkOfVho3ZPXfM7W8sV2SndrGDuh7wuyLjtsWeTI1Q=" crossorigin="anonymous"/>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"
            integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js"
            integrity="sha256-t8GepnyPmw9t+foMh3mKNvcorqNHamSKtKRxxpUEgFI=" crossorigin="anonymous"></script>
    <style type="text/css">
    </style>
</head>
<body>
<br/>
<div class="ui middle aligned center aligned grid">
    <div class="ui internally celled grid">
        <div class="row">
            <div class="ten wide column">
                <div class="ui raised segment">
                    <p><b>Third party libraries - legal notice</b></p>
                </div>
                <div class="ui raised segment">
                    <p> RICKROLLHERCOASTER CONTAINS THIRD PARTY SOFTWARE OF THE TYPE 'OPEN SOURCE'. THESE THIRD PARTY
                        LIBRARIES
                        COMES WITH THEIR OWN LICENSE DEFINITIONS AND BY PURCHASING RICKROLLHERCOASTER YOU ACCEPT THE
                        TERMS
                        SPECIFIED IN THE LICENSE DEFINITIONS BY THE THIRD PARTY VENDORS. RIADA DEVELOPMENT MAY CHANGE,
                        REMOVE OR ADD THE THIRD PARTY SOFTWARE USED IN RICKROLLHERCOASTER. THIS PAGE SHOULD ALWAYS
                        REFLECT THE
                        THIRD PARTY SOFTWARE USED IN THE LATEST AVAILABLE VERSION OF RICKROLLHERCOASTER.</p>
                </div>
                <div class="ui segment">
                    <table class="ui celled table">
                        <thead>
                        <tr>
                            <th>Library</th>
                            <th>Version</th>
                            <th>Url</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td data-label="Library">Docker</td>
                            <td data-label="Version">19.03.1</td>
                            <td data-label="Url">https://docs.docker.com/install/linux/docker-ce/ubuntu/</td>
                        </tr>
                        <tr>
                            <td data-label="Library">Python</td>
                            <td data-label="Version">2.7</td>
                            <td data-label="Url">https://www.python.org/</td>
                        </tr>
                        <tr>
                            <td data-label="Library">Java</td>
                            <td data-label="Version">AdoptOpenJDK / OpenJDK 11 (LTS)</td>
                            <td data-label="Url">https://adoptopenjdk.net/</td>
                        </tr>
                        <tr>
                            <td data-label="Library">Spring boot</td>
                            <td data-label="Version">2.1.6</td>
                            <td data-label="Url"></td>
                        </tr>
                        <tr>
                            <td data-label="Library">Spring Framework (core, web, webmvc, expression)</td>
                            <td data-label="Version">5.1.8</td>
                            <td data-label="Url"></td>
                        </tr>
                        <tr>
                            <td data-label="Library">Tomcat</td>
                            <td data-label="Version">9.0.21</td>
                            <td data-label="Url"></td>
                        </tr>
                        <tr>
                            <td data-label="Library">Log4j</td>
                            <td data-label="Version">2.11.2</td>
                            <td data-label="Url"></td>
                        </tr>
                        <tr>
                            <td data-label="Library">Logback</td>
                            <td data-label="Version">1.2.3</td>
                            <td data-label="Url"></td>
                        </tr>
                        <tr>
                            <td data-label="Library">Thymeleaf</td>
                            <td data-label="Version">3.0.11</td>
                            <td data-label="Url"></td>
                        </tr>
                        <tr>
                            <td data-label="Library">FasterXML Jackson/Jackson DataBinding</td>
                            <td data-label="Version">2.9.3</td>
                            <td data-label="Url">https://github.com/FasterXML/jackson-databind</td>
                        </tr>
                        <tr>
                            <td data-label="Library">jsonwebtoken</td>
                            <td data-label="Version">0.10.7</td>
                            <td data-label="Url">https://github.com/jwtk/jjwt</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="three wide column">
                <img>
            </div>
        </div>

    </div>
</body>
</html>